{% extends 'demand/main.html' %}
{%load static%}

{% block content %}
<h1 class="dashboard-heading">Hi there!</h1>
<p class="lead">
	We're there to help you find demand during COVID-19
</p>
<p><br><p>
<table class="table table-hover table-light">
	<thead>
	  <tr>
		<th scope="col">#</th>
		<th scope="col">Commodity</th>
		<th scope="col">Location</th>
		<th scope="col">Ordered by</th>
		<th scope="col">Status</th>
	  </tr>
	</thead>
	<tbody>
	  <tr class ="available">
		<th scope="row">1</th>
		<td>Vegetables</td>
		<td>Brigade Towers</td>
		<td>250</td>
		<td>Available</td>
	  </tr>
	  <tr class = "available">
		<th scope="row">2</th>
		<td>Plumber</td>
		<td>Rajaji Nagar</td>
		<td>12</td>
		<td>Available</td>
	  </tr>
	  <tr class ="na">
		<th scope="row">3</th>
		<td>Electricity</td>
		<td>Anna Nagar</td>
		<td>5</td>
		<td>N/A</td>
	  </tr>
	  <tr class ="available">
		<th scope="row">4</th>
		<td>Household items</td>
		<td>Electronic City</td>
		<td>25</td>
		<td>Available</td>
	  </tr>
	  <tr class ="available">
		<th scope="row">5</th>
		<td>Electricity</td>
		<td>Basveshwar Nagar</td>
		<td>7</td>
		<td>Available</td>
	  </tr>
	  <tr class ="na">
		<th scope="row">6</th>
		<td>Plumber</td>
		<td>Anna Nagar</td>
		<td>5</td>
		<td>N/A</td>
	  </tr>
	</tbody>
  </table></p>
</p>
{% endblock %}

